openapi: 3.1.0
info:
  title: PostOpz Framework Agent API
  version: 0.2.0
  termsOfService: https://postopz.com/framework/agent/license/
  contact:
    name: PostOpz
    email: hello@postopz.com
    url: https://postopz.com/framework/agent/
  description: Licensed and pay-per-call task-scoped retrieval from The PostOpz Framework Vol. 1 — Avid Media Composer Edition. Developer and Studio licenses grant retrieval rights only. x402 endpoints provide autonomous per-call access. Neither access path includes model-training, fine-tuning, distillation, corpus ingestion, redistribution, or OEM rights.
externalDocs:
  description: Developer and autonomous-agent quickstart
  url: https://postopz.com/framework/agent/quickstart/
servers:
  - url: https://api.postopz.com
    description: Canonical production service
  - url: https://postopz-agent-api.onrender.com
    description: Production fallback hostname
paths:
  /v1/discover:
    get:
      security: []
      operationId: discoverAgentProduct
      summary: Discover annual plans, autonomous x402 access, pricing, and license scope
      responses:
        '200': {description: Product and machine-commerce discovery metadata}
  /v1/health:
    get:
      security: []
      operationId: getHealth
      summary: Service health and configured capabilities
      responses:
        '200': {description: Healthy service}
  /v1/license:
    get:
      operationId: getLicense
      summary: Inspect the active annual license and current usage
      security:
        - bearerAuth: []
      responses:
        '200': {description: License metadata}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Active license purchase required}
  /v1/workflow/query:
    post:
      operationId: queryWorkflow
      summary: Retrieve professional Avid workflow guidance using an annual API license
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkflowRequest'}
      responses:
        '200': {description: Grounded PostOpz workflow answer}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Active license purchase required; purchase and autonomous-access options may be returned}
        '429': {description: Included usage or burst limit reached}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
  /v1/workflow/checklist:
    post:
      operationId: getChecklist
      summary: Generate a task-specific Framework checklist using an annual API license
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkflowRequest'}
      responses:
        '200': {description: Structured checklist}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Active license purchase required}
        '429': {description: Included usage or burst limit reached}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
  /v1/workflow/audit:
    post:
      operationId: auditWorkflow
      summary: Audit supplied workflow metadata against PostOpz standards using an annual API license
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuditRequest'}
      responses:
        '200': {description: Structured findings and next actions}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Active license purchase required}
        '429': {description: Included usage or burst limit reached}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
  /v1/x402/workflow/query:
    post:
      operationId: queryWorkflowX402
      summary: Pay per call for professional Avid workflow guidance using x402 v2
      description: First request without PAYMENT-SIGNATURE returns HTTP 402 with PAYMENT-REQUIRED. An x402-capable agent authorizes USDC and retries with PAYMENT-SIGNATURE. Successful settlement is returned in PAYMENT-RESPONSE.
      security:
        - x402Payment: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkflowRequest'}
      responses:
        '200': {description: Paid grounded workflow answer}
        '402': {description: x402 payment required}
        '429': {description: Burst limit reached}
        '503': {description: x402 configuration or retrieval temporarily unavailable}
  /v1/x402/workflow/checklist:
    post:
      operationId: getChecklistX402
      summary: Pay per call for an Avid implementation or QC checklist using x402 v2
      security:
        - x402Payment: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkflowRequest'}
      responses:
        '200': {description: Paid structured checklist}
        '402': {description: x402 payment required}
        '429': {description: Burst limit reached}
        '503': {description: x402 configuration or retrieval temporarily unavailable}
  /v1/x402/workflow/audit:
    post:
      operationId: auditWorkflowX402
      summary: Pay per call to audit Avid workflow metadata against PostOpz standards using x402 v2
      security:
        - x402Payment: []
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuditRequest'}
      responses:
        '200': {description: Paid structured audit findings}
        '402': {description: x402 payment required}
        '429': {description: Burst limit reached}
        '503': {description: x402 configuration or retrieval temporarily unavailable}
components:
  schemas:
    WorkflowRequest:
      type: object
      required: [task]
      properties:
        edition: {type: string, enum: [avid-vol1], default: avid-vol1}
        task: {type: string, maxLength: 6000}
        desired_output: {type: string, enum: [answer, diagnostic, next_action, structured_steps], default: structured_steps}
        context: {type: object, additionalProperties: true}
    AuditRequest:
      type: object
      properties:
        edition: {type: string, enum: [avid-vol1], default: avid-vol1}
        task: {type: string, maxLength: 6000}
        workflow_stage: {type: string}
        project_metadata: {type: object, additionalProperties: true}
        context: {type: object, additionalProperties: true}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PostOpz API key
    x402Payment:
      type: apiKey
      in: header
      name: PAYMENT-SIGNATURE
      description: x402 v2 payment payload. Omit on the initial request to receive PAYMENT-REQUIRED instructions.
