openapi: 3.1.0
info:
  title: PostOpz Framework Agent API
  version: 0.1.0
  termsOfService: https://postopz.com/framework/agent/license/
  contact:
    name: PostOpz
    email: hello@postopz.com
    url: https://postopz.com/framework/agent/
  description: >-
    Authenticated, task-scoped retrieval from the PostOpz Framework professional
    editorial workflow knowledge base. Standard Developer and Studio licenses grant
    retrieval rights only and do not grant model-training, fine-tuning, corpus-ingestion,
    redistribution, or OEM rights.
externalDocs:
  description: Developer quickstart
  url: https://postopz.com/framework/agent/quickstart/
servers:
  - url: https://api.postopz.com/v1
    description: Canonical production service
  - url: https://postopz-agent-api.onrender.com/v1
    description: Production fallback hostname
security:
  - bearerAuth: []
paths:
  /health:
    get:
      security: []
      operationId: getHealth
      summary: Check Agent API health and configured capabilities
      responses:
        '200': {description: Service health}
  /discover:
    get:
      security: []
      operationId: discoverAgentProduct
      summary: Discover the Agent Edition, purchase options, and license boundary
      responses:
        '200': {description: Public machine-readable product discovery}
  /license:
    get:
      operationId: getLicense
      summary: Inspect the active license and usage for the supplied API key
      responses:
        '200': {description: Active license metadata}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Active entitlement required}
  /workflow/query:
    post:
      operationId: queryWorkflow
      summary: Retrieve professional workflow guidance
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/WorkflowQuery'}
      responses:
        '200': {description: Licensed workflow guidance}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Payment or active entitlement required; purchase options may be returned}
        '429': {description: Monthly allowance or burst-rate limit exceeded}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
  /workflow/checklist:
    post:
      operationId: getChecklist
      summary: Generate a task-specific editorial checklist
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/ChecklistQuery'}
      responses:
        '200': {description: Workflow checklist}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Payment or active entitlement required}
        '429': {description: Monthly allowance or burst-rate limit exceeded}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
  /workflow/audit:
    post:
      operationId: auditWorkflow
      summary: Evaluate supplied workflow metadata against PostOpz standards
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/AuditQuery'}
      responses:
        '200': {description: Audit findings and next actions}
        '401': {description: Invalid, expired, or inactive API key}
        '402': {description: Payment or active entitlement required}
        '429': {description: Monthly allowance or burst-rate limit exceeded}
        '503': {description: Retrieval capacity or model configuration temporarily unavailable}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: PostOpz API key
  schemas:
    WorkflowQuery:
      type: object
      required: [edition, task]
      properties:
        edition: {type: string, enum: [avid-vol1]}
        task: {type: string, maxLength: 6000}
        context: {type: object, additionalProperties: true}
        desired_output: {type: string, enum: [answer, diagnostic, next_action, structured_steps], default: structured_steps}
    ChecklistQuery:
      type: object
      required: [edition, workflow_stage]
      properties:
        edition: {type: string, enum: [avid-vol1]}
        workflow_stage: {type: string}
        context: {type: object, additionalProperties: true}
    AuditQuery:
      type: object
      required: [edition, project_metadata]
      properties:
        edition: {type: string, enum: [avid-vol1]}
        task: {type: string}
        project_metadata: {type: object, additionalProperties: true}
